<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="fontawesome-free-5.11.2-web/css/all.css">


<title>St Mary's Sustainable School Monitor</title>
  </head>
  <body>
   
<div class="card-columns my-5 mx-5">
 <div class="card text-white bg-primary">
<div class="card-body">
 <h3 class="card-title">Year R</h3>
  <p class="card-text">
 This weeks sustainable school scores:
 <table class="table text-white">
 <tbody>
<tr>
 <th scope="row"><i class="far fa-lightbulb fa-2x"></th>
 <td>2 hours on (could be taken from raspberry pi sensor)</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-recycle fa-2x"></th>
 <td>4 boxes of litter collected (manually updated?)</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-smog fa-2x"></i></th>
 <td>Air quality 21% lower than accepted standard(could be taken from raspberry pi sensor)</td>
</tr>
 </tbody>
</table>
 </p>
</div>
 </div>
  <div class="card text-white bg-secondary">
<div class="card-body">
 <h3 class="card-title">Year 1</h3>
<p class="card-text">
 This weeks sustainable school scores:
 <table class="table text-white">
 <tbody>
<tr>
 <th scope="row"><i class="far fa-lightbulb fa-2x"></th>
 <td>3 hours on (could be taken from raspberry pi sensor)</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-recycle fa-2x"></th>
 <td>1 box of litter collected </td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-smog fa-2x"></i></th>
 <td>Air quality 42% lower than accepted standard(could be taken from raspberry pi sensor)</td>
</tr>
 </tbody>
</table>
 </p>
</div>
 </div>
 <div class="card text-white bg-dark">
<div class="card-body">
 <h3 class="card-title">Year 2</h3>
 <p class="card-text">
 This weeks sustainable school scores:
 <table class="table text-white">
 <tbody>
<tr>
 <th scope="row"><i class="far fa-lightbulb fa-2x"></th>
 <td>2.34 hours on (could be taken from raspberry pi sensor)</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-recycle fa-2x"></th>
 <td>3 boxes of litter collected </td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-smog fa-2x"></i></th>
 <td>Air quality 2% lower than accepted standard(could be taken from raspberry pi sensor)</td>
</tr>
 </tbody>
</table>
 </p>
</div>
 </div>
 <div class="card text-white bg-success">
<div class="card-body">
 <h3 class="card-title">Year 3</h3>
 <p class="card-text">
 This weeks sustainable school scores:
 <table class="table text-white">
 <tbody>
<tr>
 <th scope="row"><i class="far fa-lightbulb fa-2x"></th>
 <td>3.4 hours on (could be taken from raspberry pi sensor)</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-recycle fa-2x"></th>
 <td>1.5 boxes of litter collected </td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-smog fa-2x"></i></th>
 <td>Air quality 10% lower than accepted standard(could be taken from raspberry pi sensor)</td>
</tr>
 </tbody>
</table>
 </p>
</div>
 </div>
 <div class="card text-white bg-danger">
<div class="card-body">
 <h3 class="card-title">Year 4</h3>
 <p class="card-text">
 This weeks sustainable school scores:
 <table class="table text-white">
 <tbody>
<tr>
 <th scope="row"><i class="far fa-lightbulb fa-2x"></th>
 <td>3.1 hours on (could be taken from raspberry pi sensor)</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-recycle fa-2x"></th>
 <td>3 boxes of litter collected </td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-smog fa-2x"></i></th>
 <td>Air quality 47% lower than accepted standard(could be taken from raspberry pi sensor)</td>
</tr>
 </tbody>
</table>
 </p>
</div>
 </div>
 <div class="card text-white bg-warning">
<div class="card-body">
 <h3 class="card-title">Year 5</h3>
 <p class="card-text">
 This weeks sustainable school scores:
 <table class="table text-white">
 <tbody>
<tr>
 <th scope="row"><i class="far fa-lightbulb fa-2x"></th>
 <td>1 hour on (could be taken from raspberry pi sensor)</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-recycle fa-2x"></th>
 <td>6 boxes of litter collected </td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-smog fa-2x"></i></th>
 <td>Air quality 11% lower than accepted standard(could be taken from raspberry pi sensor)</td>
</tr>
 </tbody>
</table>
 </p>
</div>
 </div>
 <div class="card text-white bg-info">
<div class="card-body">
 <h3 class="card-title">Year 6</h3>
 <p class="card-text">
 This weeks sustainable school scores:
 <table class="table text-white">
 <tbody>
<tr>
 <th scope="row"><i class="far fa-lightbulb fa-2x"></th>
 <td>3 hours on (could be taken from raspberry pi sensor)</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-recycle fa-2x"></th>
 <td>2 boxes of litter collected </td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-smog fa-2x"></i></th>
 <td>Air quality 17% lower than accepted standard(could be taken from raspberry pi sensor)</td>
</tr>
 </tbody>
</table>
 </p>
</div>
 </div>
 <div class="card text-white bg-dark">
<div class="card-body">
 <h3 class="card-title">Hall</h3>
 <p class="card-text">
 This weeks sustainable school scores:
 <table class="table text-white">
 <tbody>
<tr>
 <th scope="row"><i class="far fa-lightbulb fa-2x"></th>
 <td>3 hours on (could be taken from raspberry pi sensor)</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-recycle fa-2x"></th>
 <td>0 boxes of litter collected </td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-smog fa-2x"></i></th>
 <td>Air quality 32% lower than accepted standard(could be taken from raspberry pi sensor)</td>
</tr>
 </tbody>
</table>
 </p>
</div>
 </div>
<div class="card bg-white">
<div class="card-body">
 <h3 class="card-title">Playground</h3>
  <p class="card-text">
 This weeks sustainable school scores:
 <table class="table">
 <tbody>
<tr>
 <th scope="row"><i class="far fa-lightbulb fa-2x"></th>
 <td>0 hours on (could be taken from raspberry pi sensor)</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-recycle fa-2x"></th>
 <td>7 boxes of litter collected </td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-smog fa-2x"></i></th>
 <td>Air quality 70% lower than accepted standard(could be taken from raspberry pi sensor)</td>
</tr>
 </tbody>
</table>
 </p>
</div>
 </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="jquery/jquery-3.4.1.min.js"></script>
    <script src="popper/popper.1.16.0.min.js"></script>
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
  </body>
</html>
<!-- ref : https://getbootstrap.com/docs/4.0/getting-started/introduction/#community-->
<!-- ref : https://getbootstrap.com/docs/4.3/components/card/ -->