{% load static %}
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{% static "/bootstrap-4.4.1-dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "/fontawesome-free-5.12.0-web/css/all.css" %}">
<title>Sustainable School Monitor</title>
</head>
<body>
<div class="card-columns my-5 mx-5">
 <div class="card text-white bg-primary">
<div class="card-body">
 <h3 class="card-title">Year R</h3>
  <p class="card-text">
Sustainable school readings:
 <table class="table text-white">
 <tbody>
<tr>
 <th scope="row"><i class="far fa-lightbulb fa-2x"></th>
 <td>Number of minutes lights were on: {{ year_R_light_readings}}</td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-recycle fa-2x"></th>
 <td>Number of recycling items collected in a bin: {{ year_R_bin_readings}} </td>
</tr>
<tr>
 <th scope="row"><i class="fas fa-bicycle fa-2x"></i></th>
 <td>Number of bikes in bike rack: {{ year_R_bike_readings}}</td>
</tr>
 </tbody>
</table>
 </p>
</div>
 </div>
 </div>
  
</body>
</html>